.nav {
    display: flex;
    height: 10vh;
    background-color: teal;
    align-items: center;
}

.appName {
    color: black;
}

h3{
    margin-left: 10px;
}

a{
    text-decoration: none;
    margin-left: 10px;
}

a:hover {
    cursor: pointer;
    color: white;
}